</head>
  <body>
    <div class="container">
      <div class="card Date night-input" id="dashBoard-input">
        <div class="input-group mb-4">
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <button class="btn btn-secondary" id="food-submit-btn">Add</button>
        </div>
        <div class="card-body" id="buttons-view">
          <!-- JS Buttons go here -->
        </div>
      </div>
    </div>
    <!-- Login and Sign Up Buttons -->
    <div class="container-user-info">
      <div class="row ">
        <div class="col-5"> </div>
        <div class="col-4">
          <button class="btn btn-secondary login">Log In</button>
          <button class="btn btn-secondary sign-up">Sign Up</button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <!-- Sign-Up Container -->
    <div class="container container-sign-up">
      <form>
        <div class="form-group">

    <!-- Login Container -->
    <div class="container container-button">
        <div class="form-group">
          <label for="password-login">survey</label>
          <input type="password" class="form-control" id="password-login" placeholder="Password">
        </div>
        <button class="btn btn-primary" id="matches">Matches</button>
      </form>
    </div>
        </div>
      </div>
    </div>
    
    <hr>

    <div class="container-footer">
      <div class="row footer">
        <div class="col-4"> </div>
        <div class="col-4">CREATED BY AFOMIA, Eugene,Frank & RICHARD</div>
        <div class="col-4"> </div>
      </div>
    </div>

  </body>
</html>