<h1 class="text-center display-1 m-3 animated heartBeat slower">Date night</h1>
<div class ="container">
    <div class = "row">
        <div class="col-3"></div>
            <div class = "col-6">
                <div class="w-100 badge-primary pl-3"> User Login </div>
                <form class="mb-4 bg-light border border-primary">
                    <div class="m-4">
                        <label for="user-name"> User Name : </label>
                        <input type="text" id="user-name" class="form-control">
                        <label for="password"> Password : </label>
                        <input type="password" id="password" class="form-control">
                        <hr>
                        <button class="btn bg-primary text-light btn-default" id="user-login" type="submit" >Log In</button>
                        <a href="/signup" class="ml-3">Don't have an account? Sign up here.</a>
                    </div>
                </form>
                <div id = "login-validation"></div>
            </div>
        <div class="col-3"></div>
    </div>
</div>
<script type="text/javascript" src="assets/js/userLoginLogic.js"></script>