<h1 class="text-center display-1 m-3 animated heartBeat slower">Date night (H1) </h1>
<div>
    <h2> THIS IS THE MATCHES SECTION </h2>
</div>
<script type="text/javascript" src="assets/js/matching.js"></script>