<head></head>
<body>
  <div class="container">
    <h2>Survey Questions</h2>
    <hr>
    <h3>
      <strong>About You</strong>
    </h3>
    <h4>Name (Required)</h4>
      <input type= "text" id="name" class= "form-control" required>
    <h4>Link to photo image (Required)</h4>
      <input type="text" id="photo" class="form-control"required>
    <hr>
    <h3>
      <strong>Question 1</strong>
    </h3>
    <h4>Are you looking for something casual or serious.</h4>
    <select data-placeholder="" class="chosen-select" id="1">
      <option value=""></option>
      <option value="1">1 (casual)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (serious)</option>
    </select>
    <h3>
      <strong>Question 2</strong>
    </h3>
    <h4>Are you an introvert or extrovert</h4>
    <select data-placeholder="" class="chosen-select" id="2">
      <option value=""></option>
      <option value="1">1 (introvert)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (extrovert)</option>
    </select>
    <h3><strong>Question 3</strong></h3>
    <h4>How close are you to your family?</h4>
    <select data-placeholder="" class="chosen-select" id="3">
      <option value=""></option>
      <option value="1">1 (extremly close)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (not close)</option>
    </select>
    <h3><strong>Question 4</strong></h3>
    <h4>Your career is the most imporant thing in your life</h4>
    <select data-placeholder="" class="chosen-select" id="4">
      <option value=""></option>
      <option value="1">1 (I work to live)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (I live to work)</option>
    </select>
    <h3><strong>Question 5</strong></h3>
    <h4>What is the ideal way to spend a night with someone</h4>
    <select data-placeholder="" class="chosen-select" id="5">
      <option value="1">1 (I like us better when we're wasted)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Netflix&Chill)</option>
    </select>
    <h3><strong>Question 6</strong></h3>
    <h4>It is often difficult for you to relate to other people’s feelings.</h4>
    <select data-placeholder="" class="chosen-select" id="6">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
    <h3><strong>Question 7</strong></h3>
    <h4>Risk is thrilling.</h4>
    <select data-placeholder="" class="chosen-select" id="7">
      <option value=""></option>
      <option value="1">1 (Safety first)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Make me feel alive)</option>
    </select>
    <h3><strong>Question 8</strong></h3>
    <h4>You rarely get carried away by fantasies and ideas.</h4>
    <select data-placeholder="" class="chosen-select" id="8">
      <option value=""></option>
      <option value="1">1 (Strongly Disagree)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
    <h3><strong>Question 9</strong></h3>
    <h4>Following trends is important</h4>
    <select data-placeholder="" class="chosen-select" id="9">
      <option value=""></option>
      <option value="1">1 (I do my own thing)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (I stay up to speed)</option>
    </select>
    <h3><strong>Question 10</strong></h3>
    <h4>Is it funny to roast someone,I dont want to hurt anyones</h4>
    <select data-placeholder="" class="chosen-select" id="10">
      <option value=""></option>
      <option value="1">1 (feelings)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (I'm gonnna make you cry)</option>
    </select>
    <h3><strong>Question 11</strong></h3>
    <h4>How muuch do you enjoy watching movies ?<h4>
    <select data-placeholder="" class="chosen-select" id="11">
      <option value=""></option>
      <option value="1">1 (Movies not really my thing)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (I could watch movies all day !)</option>
    </select>
    <br>
    <br>
  <button class="btn bg-primary text-light btn-default" id="survey-input" type="submit"> Submit </button>
    <br>
    <br>
    <footer class="footer text-center">
        <div class="container">
        </div>
    </footer>
  </div>
<script type="text/javascript" src="assets/js/survey.js"></script>